# Lab 07: DataFrame

In this lab, you will:

- Practice filtering DataFrame
- Modifying values of DataFrame
- Computing basic statistics on DataFrame

## 1. DataFrame Filtering

In this lab, we will again be working with the cleaned version of the Ramen Ratings dataset. There are 5 variables:

  - `'Brand'`: the ramen brand/company
  - `'Variety'`: the name of the ramen on the label
  - `'Style'`: the style of ramen (in term of packaging)
  - `'Country'`: the country producing the ramen
  - `'Stars'`: the rating

- This dataset is available at: https://stat430.hknguyen.org/files/datasets/clean-ramen.csv


Load the Ramen Ratings dataset to Python and store it in a variable called `ramen`.

In [1]:
# your code here
import pandas as pd
ramen = pd.read_csv("clean-ramen.csv")

### Exercise 1.1

Filter only the observations where the ramen is made in Japan and in Cup, OR the ramen is made in Thailand and in Pack.

In [7]:
# your code here
ramen[(ramen['Country'] == 'Japan') | (ramen['Country'] == 'Thailand') & (ramen['Style'] == 'Cup')]

,Brand,Variety,Style,Country,Stars
0,New Touch,T's Restaurant Tantanmen,Cup,Japan,3.75
6,Acecook,Spice Deli Tantan Men With Cilantro,Cup,Japan,4.00
7,Ikeda Shoku,Nabeyaki Kitsune Udon,Tray,Japan,3.75
8,Ripe'n'Dry,Hokkaido Soy Sauce Ramen,Pack,Japan,0.25
13,Nissin,Deka Buto Kimchi Pork Flavor,Bowl,Japan,4.50
...,...,...,...,...,...
2549,Nissin,Soba Noodles With Mayo Mustard Squirt,Pack,Japan,4.00
2550,Nissin,Demae Ramen Spicy Flavor,Pack,Japan,3.00
2551,Nissin,Demae Ramen Spicy Seafood With Chili Pepper,Pack,Japan,2.00
2562,Sapporo Ichiban,Chow Mein,Pack,Japan,5.00
2563,Sapporo Ichiban,Shrimp Flavor,Pack,Japan,2.50

### Exercise 1.2

Filter only the observations where the ramen had **at least 4 stars** and it is made in `USA` or `United States`.

In [12]:
# your code here
ramen[(ramen['Stars'] >=4)&(ramen['Country'].isin(['USA','United States']))]

,Brand,Variety,Style,Country,Stars
11,Yamachan,Yokohama Tonkotsu Shoyu,Pack,USA,5.00
17,Yamachan,Tokyo Shoyu Ramen,Pack,USA,5.00
21,Jackpot Teriyaki,Beef Ramen,Pack,USA,5.00
23,Yamachan,Sapporo Miso Ramen,Pack,USA,4.75
38,Nissin,Cup Noodles Very Veggie Spicy Chicken Flavor R...,Cup,USA,5.00
...,...,...,...,...,...
2371,Sapporo Ichiban,Beef Flavor,Pack,USA,4.50
2376,Nongshim,Bowl Noodle Spicy Chicken,Bowl,USA,4.50
2434,Nissin,Chow Mein Teriyaki Beef,Tray,USA,4.50
2509,Maruchan,Ramen Noodle Soup Pork,Pack,USA,4.00
2552,Nissin,Top Ramen Creamy Chicken,Pack,USA,4.50

### Exercise 1.3

Filter only the `Brand` and `Variety` attributes (columns) of the observations where the ramen had at least 4 stars and it is made in `Vietnam`.

In [17]:
# your code here
ramen[['Brand','Variety']][(ramen['Stars']>=4)&(ramen['Country']=='Vietnam')]

               Brand                                            Variety
18          Binh Tay                                         Mi Hai Cua
224            Vifon  Viet Cuisine Bun Rieu Cua Sour Crab Soup Insta...
365          Acecook                             Oh! Ricey Pork Flavour
915     Vina Acecook                 King Chef Authentic Kimchi Flavour
932          New Way                          Spaghetti Instant Noodles
1722    Vina Acecook                         Bestcook Hot & Sour Shrimp
1988           Vifon                        South Korean Style Kim Chee
2130         Ve Wong                                Little Prince Bacon
2154           Vifon                              Mi Lau Thai Thai Stle
2180    Vina Acecook                  Bestcook Hot spicy Tom Yum Shrimp
2195  Saigon Ve Wong                Kung Fu Artificial Beef Rice Noodle
2214    Vina Acecook                       Daily Hot & Sour With Shrimp
2299    Vina Acecook                        Oh! Ricey Beef Rice Noodles
2310    Vina Acecook                                 Mi Lau Thai Shrimp
2317    Vina Acecook                                Mi Lau Thai Seafood
2322    Vina Acecook                          Daily Hot & Spicy Tom Yun

### Exercise 1.4

Filter only the `Variety` and `Stars` attributes of the observations where the ramen had **at most 2 stars** and the brand is `Nissin`.

In [19]:
# your code here
ramen[['Variety','Stars']][(ramen['Stars']<=2)&(ramen['Brand']=='Nissin')]

                                                Variety  Stars
1334  Demae Rice Vermicelli Chicken Flavour Instant ...   1.75
2313                         Chow Mein Kung Pao Chicken   1.50
2380                              Cup Noodles Pani Puri   1.50
2393                   Bowl Noodles Hot & Spicy Chicken   2.00
2419                                          Sotanghon   2.00
2422                                     Creamy Chicken   1.75
2438                 Bowl Noodles Rich & Savory Chicken   1.75
2492                           Demae Ramen Spicy Flavor   2.00
2551        Demae Ramen Spicy Seafood With Chili Pepper   2.00

### Exercise 1.5

Filter only the `Variety` and `Stars` attributes of the observations where the ramen had **at most 2 stars** and it is made in `United States` or `USA`.

In [23]:
# your code here
ramen[['Variety','Stars']][(ramen['Stars']<=2)&(ramen['Country'].isin(['United States','USA']))]

                                                Variety  Stars
35    Cup-A-Soup Chicken Noodle With White Meat Inst...   1.50
152                          Vegan Pad Thai Noodle Soup   0.00
311   Karami Ramen Spicy Chili Flavour Japanese Styl...   2.00
370   Ramen Japanese Style Quick-Cooking Alimentary ...   0.00
475   Ramen Japanese Style Quick-Cooking Alimentary ...   0.00
522                  Garlic Pepper Reduced Sodium Ramen   0.00
642                           Rice Noodle Coconut Curry   1.00
661   Mi Goreng Bento Noodles In A Box Hot Sweet & S...   0.25
665                      Mushroom Rice Noodle Soup Bowl   0.00
778                         Soup All Natural Hot & Sour   0.25
817          Natural Quality Foods Pad Thai Noodle Bowl   1.00
937                               Japanese Ramen Noodle   0.00
1033              Pad Thai Instant rice Noodles & Sauce   1.50
1607                      Noodle Express Spicy Szechuan   2.00
1631                Dr. McDougall's Vegan Chicken Ramen   1.75
1965                             Yakisoba Spicy Chicken   1.75
1981                       Lemongrass Chili Rice Noodle   1.50
2048                                  Hot Spicy Chicken   2.00
2051                                   Soy Ginger Ramen   1.50
2101                                    Teriyaki Noodle   1.75
2106                                  Lemongrass ginger   1.50
2123                                    Asian Vegetable   1.50
2190       Fu Chang Chinese Noodle Company Pork Seafood   0.00
2215                               Vermicelli With Pork   1.25
2313                         Chow Mein Kung Pao Chicken   1.50
2361                                   Yakisoba Chicken   2.00
2362                             Yakisoba Teriyaki Beef   2.00
2373                            Bowl Noodle Hot & Spicy   2.00
2393                   Bowl Noodles Hot & Spicy Chicken   2.00
2422                                     Creamy Chicken   1.75
2423                                      Shrimp Flavor   1.75
2438                 Bowl Noodles Rich & Savory Chicken   1.75
2467                                              Ramen   2.00
2471                          Ramen Noodle Soup Chicken   2.00
2508                Ramen Noodle Soup Lime Chili Shrimp   2.00
2541                           Ramen Noodle Soup Shrimp   2.00
2565                                     Vegetable Beef   1.50
2574                                         Miso Ramen   0.50

### Exercise 1.6 (bonus)

Filter and sort all ramen produced in the US by descending `Stars` rating and alphabetical-ordered `Brand`.

In [24]:
# your code here
ramen[ramen['Country'].isin(['United States','USA'])].sort_values(['Stars','Brand'],ascending = [True,True])

,Brand,Variety,Style,Country,Stars
152,Dr. McDougall's,Vegan Pad Thai Noodle Soup,Cup,USA,0.0
522,Koyo,Garlic Pepper Reduced Sodium Ramen,Pack,USA,0.0
937,One Dish Asia,Japanese Ramen Noodle,Bowl,USA,0.0
370,Roland,Ramen Japanese Style Quick-Cooking Alimentary ...,Pack,USA,0.0
475,Roland,Ramen Japanese Style Quick-Cooking Alimentary ...,Pack,USA,0.0
...,...,...,...,...,...
1599,Sun Noodle,Ramen Pork Flavor,Tray,USA,5.0
11,Yamachan,Yokohama Tonkotsu Shoyu,Pack,USA,5.0
17,Yamachan,Tokyo Shoyu Ramen,Pack,USA,5.0
1641,Yamachan,Mild Tonkotsu,Pack,USA,5.0
1692,Yamachan,Miso Ramen Rich Sapporo Miso,Pack,USA,5.0

## 2. Computing Basic Statistics on Subset of a DataFrame

### Exercise 2.1

Compute the mean stars rating of Nissin ramen (of brand Nissin).

In [25]:
# your code here
ramen[ramen['Brand']=='Nissin'].mean()

Stars    3.91857
dtype: float64

### Exercise 2.2

Compute the mean stars rating of all ramen made in the US (that is `USA` and `United States`).

In [33]:
# your code here
ramen[ramen['Country'].isin(['USA','United States'])]['Stars'].mean()

3.4579475308641974

### Exercise 2.3

Find the maximum stars rating of a Vifon ramen (of brand Vifon).

In [36]:
# your code here
ramen[ramen['Brand']=='Vifon']['Stars'].max()

5.0

### Exercise 2.4

Now, find the observation corresponding to the value found in Ex 2.3. That is, find and print the whole row of the Vifon ramen that has stars rating of 5.0.

In [34]:
# your code here
ramen[(ramen['Stars'] == 5)&(ramen['Brand']=='Vifon')]

,Brand,Variety,Style,Country,Stars
224,Vifon,Viet Cuisine Bun Rieu Cua Sour Crab Soup Insta...,Bowl,Vietnam,5.0

### Exercise 2.5

Find the observation (meaning the whole row) of the a Nongshim ramen with the lowest stars rating.

In [51]:
# your code here
ramen[ramen['Brand']=='Nongshim'].sort_values(['Stars']).head(1)

        Brand                 Variety Style      Country  Stars
196  Nongshim  Seaweed Instant Noodle   Cup  South Korea    0.5

## 3. Modifying DataFame

### Exercise 3.1

Set the `Stars` rating of all Nissin ramen in the US to be 0.

In [48]:
# your code here
ramen.loc[ramen['Brand']=='Nissin','Stars'] = 0

In [49]:
# run this cell to check your answer - the output should be 0
ramen[(ramen['Brand'] == 'Nissin') & (ramen['Country'] == 'USA')]['Stars'].sum()

0.0

### Exercise 3.2

Remove all the observations of brand Nissin in the US from `ramen`.

In [56]:
# your code here
ramen.drop(ramen[(ramen['Brand']=='Nissin') & (ramen['Country'].isin(['USA','United States']))].index,inplace=True)

In [57]:
# run this cell to check your answser - the output should be an empty dataframe
ramen[(ramen['Brand'] == 'Nissin') & (ramen['Country'] == 'USA')]

Empty DataFrame
Columns: [Brand, Variety, Style, Country, Stars]
Index: []

## 4. Submit Your Work

You're almost done -- congratulations!

You need to do a few more things:

1. Save your work.  To do this, create a **notebook checkpoint** by using the menu within the notebook to go **File -> Save and Checkpoint**

2. Click **File** -> **Close and Halt** to close this notebook.

3. Click **Logout** on Jupyter to return your terminal back to the command prompt.

4. Follow the assignment instructions to submit this assignment.